:root{
    --fundo:#8B0000;
    --cor-verso:#FA8072;
    --destaque: #FF0000;
    --preto: #000000;
    --branco: #fffafa;
}

body{
    background-color: var(--fundo);
    margin: 0;
}


header{
    background-color: var(--preto);
    padding: 40px;
    display: flex;
    justify-content: space-around;
}

header a {
    color: var(--preto);
}


footer{
    position: absolute;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}
