:root{
    --fundo:#8B0000;
    --cor-verso:#FA8072;
    --destaque: #FF0000;
    --preto: #000000;
    --branco: #fffafa;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 2rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}